<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .edit{
        background: aqua;
        height: 25px;
        width: 100px;
    }
    .br {
        background: url("https://media.viezone.vn/prod/2021/11/5/ezgif_com_gif_maker_22_07a2d21b01.gif");
        background-size: cover;
    }
    p{
        color: greenyellow;
    }
</style>
<body class="br">
<center >
    <div>


    <H1>Edit Student</H1>
    <a href="/students/"> Back home</a>
<form method="post">
    <input type="hidden" name="id" th:value="${student.getId()}">
   <p>Name :<input type="text" name="name" th:value="${student.getName()}"></p>
    <p> Age :<input type="text" name="age" th:value="${student.getAge()}"></p>
    <p> Score :<input type="text" name="score" th:value="${student.getScore()}"></p>
     <select name="idCategory" style="background: pink">
        <option th:each="category :${categorys}" th:value="${category.getId()}" th:text="${category.getName()}" ></option>
    </select>
    <button class="edit"> Edit</button>
</form> </div>
</center>
</body>
</html>
